* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins';
    font-style: normal;

    height: inherit;
    display: flex;
    flex-direction: column;
}

.header {
    width: auto;
    height: 85px;
    background-color: #3B95D7;
}

.heading-primary {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.1em;
    color: #FFFFFF;

    padding: 15px;
}

.features {
    display: flex;

    margin-top: 5px;
    flex: 1;

    max-height: calc(100% - 90px);

    overflow-x: hidden;
}

.main-feature {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.members-sidebar {
    min-width: 400px;
    height: auto;
    background-color: rgba(59, 149, 215, 0.15);

    margin-right: 12px;
    padding: 15px 30px 0 20px;

    overflow: scroll;
}

.member-card {
    position: relative;

    width: 340px;
    height: 128px;
    margin-bottom: 18px;

    background: rgba(86, 92, 78, 0.1);
    border: 0.5px solid #565C4E;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.member-card > img {
    width: 67px;
    height: 64px;

    margin-right: 20px;
    border-radius: 40px;
    background-color: #BDBDBD;

    float: left;
}

.member-card > h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.member-card > p {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #666363;

    overflow: hidden;
}

.member-card > button {
    position: absolute;
    bottom: 10px;

    width: 80px;
    height: 23px;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.edit-member-button {
    right: 115px;

    background-color: #D9D9D9;
    border: 1px solid #767373;

    color: #666363;
}

.edit-member-button:hover {
    background-color: #dfdfdf;
}
.edit-member-button:active {
    background-color: #cdcbcb;
}

.delete-member-button {
    right: 15px;

    background: #DD5A5A;
    border: 1px solid #686868;

    color: #FFFFFF;
}

.delete-member-button:hover {
    background-color: #dd5a5ad7;
}

.delete-member-button:active {
    background-color: #cb5454;
}

.actions-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-container {
    position: relative;

    background-color: #D9D9D9;
    padding: 20px 35px;

    flex: 1;
}

.form-header {
    border-bottom: 1px solid #000000;
}

.form-header > h2 {
    font-weight: 600;
    font-size: 24px;
    color: #3B95D7;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5px;
    margin-top: 8px;
}

.form-field-container {
    margin-right: 20px;
}

.form-field-container label,
.form-field-container input {
    display: block;
}

.form-field-container > input,
.form-field-container > select {
    font-size: 20px;
    height: 32px;
    border: 0;
    padding: 5px;
}

.smaller-input-width {
    width: 115px;
}

.medium-input-width {
    width: 200px;
}

.bigger-input-width {
    width: 380px;
}

label,
legend {
    font-weight: 600;
    font-size: 14px;
    color: #666363;
    letter-spacing: 0.1em;
}

fieldset label {
    color: #3B95D7;
}

.legacy-radio-fieldset {
    position: relative;
    border: 0;
    background-color: white;
    padding: 5px 15px;
    height: 32px;
    margin-top: 32px;
}

.legacy-radio-fieldset > legend {
    position: absolute;
    top: -21px;
    left: 0;
}

.radio-label {
    position: relative;
    top: -1.5px;

    margin-left: 9px;
    margin-right: 75px;
}

.radio-label:last-child {
    margin-right: 0;
}

.legacy-checkbox-fieldset {
    width: 688px;
    height: 110px;

    position: relative;

    border: 1px solid #3B95D7;
    border-radius: 15px;

    padding: 13px;
    margin-top: 7px;
}

.legacy-checkbox-fieldset > legend {
    position: absolute;
    top: 7px;
    left: 13px;
}

.checkboxes-container {
    position: absolute;
    top: 36px;
    width: inherit;
    display: flex;
    justify-content: flex-start;
}

.checkbox-label {
    margin-right: 32px;
}

.checkbox-label > span {
    margin-left: 5px;
    position: relative;
    top: -2px;
}



.form-action-button {
    position: absolute;
    bottom: 20px;
    right: 35px;

    width: 158px;
    height: 30px;
    
    background-color: #3B95D7;
    border: 1px solid #686868;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    
    cursor: pointer;
}

.form-action-button:hover {
    background-color: #3b96d7dc;
}

.form-action-button:active {
    background-color: #3488c4;
}

.footer {
    display: flex;
    background-color: #3B95D7;
    padding: 20px 40px;
}

.footer-menu {
    display: flex;
    justify-content: flex-start;

    flex: 1;
    align-items: center;
}

.footer-menu-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 10%;
    cursor: pointer;
}

.footer-menu-item:hover {
    border-bottom: 1px solid #FFFFFF;
}

@media only screen and (min-width: 1024px) {
    .action-container {
        margin-bottom: 15px;
    }

    .action-container:last-child {
        margin-bottom: 0;
    }

    .footer {
        margin-top: 10px;
    }

    .footer-menu-item:first-child {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .edit-member-container {
        display: none;
    }

    .action-container {
        padding-bottom: 105px;
    }

    .form-action-button {
        bottom: 40px;
    }

    .form-row {
        flex-wrap: wrap;
    }

    .legacy-checkbox-fieldset {
        width: 100%;
    }

    .checkboxes-container {
        flex-wrap: wrap;
    }

    .checkbox-label {
        margin-right: 14%;
    }

    .footer-menu {
        flex-wrap: wrap;
    }

    .footer-menu-item {
        margin-left: 4%;
        width: 45%;
    }
}